<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <title>SmartAg</title>
</head>
<body>

<!-- Nav Bar -->
<nav class="navbar bg-dark navbar-expand-sm navbar-dark info-color">
  <a class="navbar-brand" href="{{url_for('main.home')}}">SmartAg</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-effect waves-light" href="{{url_for('main.home')}}">Home<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Splash Header -->
<!-- <div class="splash-header">
  <img src="{{ url_for('static', filename='src/DefaultBackgroundPic.jpg') }}" class="splash-header" alt="Background Header">
  <div class="card-img-overlay"> -->
    <!-- Image text overlay -->
  <!-- </div>
</div> -->

<!-- Page Header -->
<div class="container-fluid">

  <!-- Page Alerts-->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Data loaded from server.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Overview Row -->
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="page-title">Overview</p>
      </div>
    </div>

    <!-- Chart -->
    <!-- <div class="container-fluid">
      <canvas id="lineChart"></canvas>
      <script type="text/javascript" charset="utf-8" id="testData"></script>
      <script type="text/javascript" src="js/Chart.js"></script>
      {% block content %}{% endblock %}
    </div> -->

    <!-- Progress Bars -->
    <div class="container-fluid">
      <div class="row data-padding">
        <div class="col-2 float-left align-self-center">
          Water
        </div>
        <div class="col float-right align-self-center">
          <div class="progress active">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ plant.water_level }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ plant.water_level * 100 }}%">
            </div>
          </div>
        </div>
        <div class="col-2 float-right">
          <a href="index.html" class="btn btn-primary btn-span-container">Add Water</a>
        </div>
      </div>
      <div class="row data-padding">
        <div class="col-2 float-left align-self-center">
          Chemical A
        </div>
        <div class="col float-right align-self-center">
          <div class="progress active">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ plant.chemical_a }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ plant.chemical_a }}%">
            </div>
          </div>
        </div>
        <div class="col-2 float-right">
          <a class="btn btn-primary btn-span-container">Add Fertilizer A</a>
        </div>
      </div>
      <div class="row data-padding">
        <div class="col-2 float-left align-self-center">
          Chemical B
        </div>
        <div class="col float-right align-self-center">
          <div class="progress active">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ plant.chemical_b }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ plant.chemical_b }}%">
            </div>
          </div>
        </div>
        <div class="col-2 float-right">
          <a class="btn btn-primary btn-span-container">Add Fertilizer B</a>
        </div>
      </div>
      <div class="row data-padding">
        <div class="col-2 float-left align-self-center">
          Height
        </div>
        <div class="col float-right align-self-center">
          <div class="progress active">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ plant.growth_level }}"
                 aria-valuemin="0" aria-valuemax="2" style="width:{{ plant.growth_level }}%">
            </div>
          </div>
        </div>
        <div class="col-2 float-right"></div>
      </div>
    </div>
  </div>
  <hr>
</div>


<!-- Footer -->
<footer>
  <div class="collapse bg-dark" id="navbarFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About SmartAg</h4>
          <p class="text-muted">SmartAg is a 24 hour project developed by Seth Hamilton, Daniel Puckett, Nathan Mandell, and Sean Wangnick at the 2019 TAMUHack Hackathon.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>SmartAg</strong>
      </a>

    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
